<aside class="sidebar">
  <div class="logo">
    <img src="../../../../assets/img/logo-stock.png" width="220" alt="">
  </div>

  <nav class="menu">
    <a routerLink="/dashboard" routerLinkActive="active">
      Dashboard
    </a>

    <a routerLink="/produtos" routerLinkActive="active">
      Produtos
    </a>

    <a routerLink="/categorias" routerLinkActive="active">
      Categorias
    </a>

    <a routerLink="/fornecedores" routerLinkActive="active">
      Fornecedores
    </a>

    <a routerLink="/estoque" routerLinkActive="active">
      Estoque
    </a>

    <a routerLink="/movimentacoes" routerLinkActive="active">
      Movimentações
    </a>

    <a routerLink="/alertas/estoque-baixo" routerLinkActive="active">
      Estoque Baixo
    </a>
  </nav>
</aside>
